#contactable #contactable_inner {
	background-image:url(images/contact.png);
	color:#FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 18px;
	background-color:#333333;
	cursor:pointer;
	height:102px;
	left:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:102px;
	*margin-top:10px;
	width:44px;
	z-index:100000;
}

#contactable #contactForm {
	background-color:#333333;
	border:2px solid #FFFFFF;
	color:#FFFFFF;
	height:450px;
	left:0;
	margin-left:-400px;
	*margin-left:-434px;
	margin-top:-160px;
	overflow:hidden;
	padding-left:30px;
	position:fixed;
	top:200px;
	width:360px;
	*width:394px;
	z-index:99;
}

#contactable form#contactForm input, textarea, select {
	background:#FFFFFF none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:325px;
	padding:5px;
	border:1px solid #dfdfdf;
	font-size:1em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom:10px;
}
#contactable form#contactForm select {
	width:335px;
}

#contactable form#contactForm p {
	width:325px;
	font-size:0.9em;
}

#contactable form#contactForm .disclaimer {
	*margin-left:20px;
}

#contactable #contactForm .green {
	color:	#76b347;
}

#contactable #overlay {
	background-color:#666666;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
} 
#contactable .invalid { background-color: #EDBE9C; }
#contactable #name.invalid { background-color: #EDBE9C; } 
#contactable #email.invalid { background-color: #EDBE9C; }
#contactable #comment.invalid { background-color: #EDBE9C; }

#contactable form#contactForm label{
	*margin-left:20px;
	line-height:150%;
}

#contactable form#contactForm #loading {
	background: url(images/ajax-loader.gif) no-repeat;
	width:66px;
	height:66px;
	margin: 80px auto;
	display:none;
}

#contactable #callback {
	font-size:1.1em;
	color: #FFF;
	width:325px;
	margin: 100px auto;	
	display:none;
}

#contactable .holder {
	margin:0 auto;
	*margin-left:20px;
	padding-top:20px;	
}	

/* Submit button */
#contactable form#contactForm .submit {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 338px; }

#contactable form#contactForm .submit:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
